<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="mydsl"
            id="com.googlecode.efactory.xtextintegration.MyDsl"
            name="MyDsl Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="com.googlecode.efactory.xtextintegration.MyDsl.validate">
         <activeWhen>
            <reference
                    definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.googlecode.efactory.xtextintegration.MyDsl" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.googlecode.efactory.xtextintegration.MyDsl"
            name="MyDsl">
            <keywordReference id="com.googlecode.efactory.xtextintegration.ui.keyword_MyDsl"/>
        </page>
        <page
            category="com.googlecode.efactory.xtextintegration.MyDsl"
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.googlecode.efactory.xtextintegration.MyDsl.coloring"
            name="Syntax Coloring">
            <keywordReference id="com.googlecode.efactory.xtextintegration.ui.keyword_MyDsl"/>
        </page>
        <page
            category="com.googlecode.efactory.xtextintegration.MyDsl"
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="com.googlecode.efactory.xtextintegration.MyDsl.templates"
            name="Templates">
            <keywordReference id="com.googlecode.efactory.xtextintegration.ui.keyword_MyDsl"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.googlecode.efactory.xtextintegration.MyDsl"
            name="MyDsl">
            <keywordReference id="com.googlecode.efactory.xtextintegration.ui.keyword_MyDsl"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.googlecode.efactory.xtextintegration.ui.keyword_MyDsl"
            label="MyDsl"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.googlecode.efactory.xtextintegration.MyDsl.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="com.googlecode.efactory.xtextintegration.MyDsl.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="mydsl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="mydsl">
        </resourceServiceProvider>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for com.googlecode.efactory.xtextintegration.MyDsl -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.googlecode.efactory.xtextintegration.ui.mydsl.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.googlecode.efactory.xtextintegration.ui.mydsl.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.googlecode.efactory.xtextintegration.ui.mydsl.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="com.googlecode.efactory.xtextintegration.MyDsl.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="com.googlecode.efactory.xtextintegration.MyDsl"
	        class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="com.googlecode.efactory.xtextintegration.MyDsl.refactoring"
	        name="Refactoring">
	        <keywordReference id="com.googlecode.efactory.xtextintegration.ui.keyword_MyDsl"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="com.googlecode.efactory.xtextintegration.MyDsl.compare.contentViewers"
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="mydsl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="com.googlecode.efactory.xtextintegration.MyDsl.compare.contentMergeViewers"
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="mydsl" label="MyDsl Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="com.googlecode.efactory.xtextintegration.MyDsl.editors.documentProviders"
            class="com.googlecode.efactory.xtextintegration.ui.MyDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="mydsl">
    </provider>
  </extension>

</plugin>
