<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="EFactory">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.0.0.v201005040954"/>
<unit id="org.eclipse.emf.mwe.core.source.feature.group" version="1.0.0.v201005040954"/>
<unit id="org.eclipse.emf.mwe.doc.feature.group" version="1.0.0.v201005040954"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.0.0.v201005040954"/>
<unit id="org.eclipse.emf.mwe.ui.feature.group" version="1.0.0.v201005040954"/>
<unit id="org.eclipse.emf.mwe.ui.source.feature.group" version="1.0.0.v201005040954"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="1.0.0.v201005040922"/>
<unit id="org.eclipse.emf.mwe2.runtime.source.feature.group" version="1.0.0.v201005040922"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="1.0.0.v201005041421"/>
<unit id="org.eclipse.emf.mwe2.language.source.feature.group" version="1.0.0.v201005041421"/>
<unit id="org.eclipse.xpand.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.doc.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.examples.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.examples.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.incremental.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.incremental.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.ui.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xpand.ui.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.dependencies.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.typesystem.emf.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.ui.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.ui.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.typesystem.uml2.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.typesystem.uml2.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.typesystem.xsd.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtend.typesystem.xsd.source.feature.group" version="1.0.0.v201005041053"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.xbase.source.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.docs.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.examples.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.examples.source.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.runtime.source.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.sdk.source.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="1.0.0.v201005041135"/>
<unit id="org.eclipse.xtext.ui.source.feature.group" version="1.0.0.v201005041135"/>
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="1.0.0.v201005042056"/>
<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="1.0.0.v201005042056"/>
<unit id="de.itemis.xtext.antlr.feature.source.feature.group" version="1.0.0.v201005042056"/>
<repository location="http://download.itemis.com/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.6.0.v20100503-1402"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
</target>
